<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Ajout d'un question</title>
</head>
<body>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Gestion de Vote</h1>
        <p>Access</p>
    </div>
</div>





<br><br>
<form class="customform"  method="POST">
    <center>
    <div class="s-12 l-7 center">
        <div class="s-12 l-7 center">
            <input style="height: 5%;font-size: 15px" type="text" class="form-control1" id="focusedinput" name='question' placeholder="Propsition" required="true">
        </div>

    </div>
        <div class="s-12 l-7 center">
            <div class="s-12 l-7 center">
                <input style="height: 5%;font-size: 15px" type="text" class="form-control1" id="focusedinput" name='question' placeholder="Propsition" required="true">
            </div>

        </div>
        <div class="s-12 l-7 center">
            <div class="s-12 l-7 center">
                <input style="height: 5%;font-size: 15px" type="text" class="form-control1" id="focusedinput" name='question' placeholder="Propsition" required="true">
            </div>

        </div>
        <center>
<br><br>
<center>

    <div class="s-12 l-5 center"><button type="submit" class="btn btn-success">Ajouter Question</button>
        </div>
</center>
</form>

</body>
</html>